sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 49.58333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 70.08334em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 70.08334em;
}
.stl_06 {
	height: 4.958333em;
}
.ie .stl_06 {
	height: 49.58333em;
}
@font-face {
	font-family:"MSLOKT+Gotham-Medium";
	src:url("765cb16b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "MSLOKT+Gotham-Medium";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.283em;
}
.stl_09 {
	letter-spacing: 0.004em;
}

.ie .stl_09 {
	letter-spacing: 0.0533px;
}
@font-face {
	font-family:"GHEIAH+PingFangSC";
	src:url("d77ea9a3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "GHEIAH+PingFangSC", "Times New Roman";
	color: #221E1F;
}
.stl_11 {
	line-height: 1.4em;
}
@font-face {
	font-family:"DGAJCJ+PingFangSC-Light";
	src:url("11523a8d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "DGAJCJ+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
.stl_13 {
	letter-spacing: -0.05em;
}

.ie .stl_13 {
	letter-spacing: -0.5333px;
}
.stl_14 {
	letter-spacing: 0.002em;
}

.ie .stl_14 {
	letter-spacing: 0.0267px;
}
@font-face {
	font-family:"QSNJAC+PingFangSC-Light";
	src:url("0c1a2f3d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "QSNJAC+PingFangSC-Light";
	color: #221E1F;
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "MSLOKT+Gotham-Medium";
	color: #221E1F;
}
.stl_17 {
	letter-spacing: -0.036em;
}

.ie .stl_17 {
	letter-spacing: -0.384px;
}
.stl_18 {
	letter-spacing: -0.0327em;
}

.ie .stl_18 {
	letter-spacing: -0.3491px;
}
.stl_19 {
	letter-spacing: -0.0329em;
}

.ie .stl_19 {
	letter-spacing: -0.351px;
}
.stl_20 {
	letter-spacing: -0.0383em;
}

.ie .stl_20 {
	letter-spacing: -0.4089px;
}
.stl_21 {
	letter-spacing: -0.0234em;
}

.ie .stl_21 {
	letter-spacing: -0.2496px;
}
.stl_22 {
	letter-spacing: -0.0379em;
}

.ie .stl_22 {
	letter-spacing: -0.4042px;
}
.stl_23 {
	letter-spacing: -0.031em;
}

.ie .stl_23 {
	letter-spacing: -0.3307px;
}
.stl_24 {
	letter-spacing: -0.0304em;
}

.ie .stl_24 {
	letter-spacing: -0.3246px;
}
.stl_25 {
	letter-spacing: -0.0366em;
}

.ie .stl_25 {
	letter-spacing: -0.3904px;
}
.stl_26 {
	letter-spacing: -0.0319em;
}

.ie .stl_26 {
	letter-spacing: -0.3398px;
}
.stl_27 {
	letter-spacing: -0.0323em;
}

.ie .stl_27 {
	letter-spacing: -0.3449px;
}
.stl_28 {
	letter-spacing: -0.0317em;
}

.ie .stl_28 {
	letter-spacing: -0.3384px;
}
.stl_29 {
	letter-spacing: -0.022em;
}

.ie .stl_29 {
	letter-spacing: -0.2346px;
}
@font-face {
	font-family:"GQLBLF+PingFangSC";
	src:url("6f38a5ef-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.666667em;
	font-family: "GQLBLF+PingFangSC";
	color: #221E1F;
}
.stl_31 {
	letter-spacing: -0.06em;
}

.ie .stl_31 {
	letter-spacing: -0.64px;
}
@font-face {
	font-family:"QSIHKT+PingFangSC-Light";
	src:url("2bf2dd81-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.666667em;
	font-family: "QSIHKT+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
.stl_33 {
	letter-spacing: -0.034em;
}

.ie .stl_33 {
	letter-spacing: -0.3627px;
}
@font-face {
	font-family:"QTOJNH+PingFangSC";
	src:url("9d50d714-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1.333333em;
	font-family: "QTOJNH+PingFangSC";
	color: #221E1F;
}
.stl_35 {
	letter-spacing: -0.053em;
}

.ie .stl_35 {
	letter-spacing: -1.1307px;
}
.stl_36 {
	letter-spacing: -0.03em;
}

.ie .stl_36 {
	letter-spacing: -0.32px;
}
@font-face {
	font-family:"PMHMTS+PingFangSC";
	src:url("c75605ce-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.666667em;
	font-family: "PMHMTS+PingFangSC";
	color: #221E1F;
}
.stl_38 {
	letter-spacing: -0.0288em;
}

.ie .stl_38 {
	letter-spacing: -0.307px;
}
.stl_39 {
	letter-spacing: -0.0305em;
}

.ie .stl_39 {
	letter-spacing: -0.3253px;
}
.stl_40 {
	letter-spacing: -0.0282em;
}

.ie .stl_40 {
	letter-spacing: -0.3005px;
}
.stl_41 {
	letter-spacing: -0.045em;
}

.ie .stl_41 {
	letter-spacing: -0.48px;
}
@font-face {
	font-family:"APFKJU+PingFangSC-Light";
	src:url("ef6dcea0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "APFKJU+PingFangSC-Light";
	color: #221E1F;
}
.stl_43 {
	letter-spacing: -0.015em;
}

.ie .stl_43 {
	letter-spacing: -0.2px;
}
@font-face {
	font-family:"NQEHWO+PingFangSC-Light";
	src:url("4cb5e5c3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.666667em;
	font-family: "NQEHWO+PingFangSC-Light";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: -0.0085em;
}

.ie .stl_45 {
	letter-spacing: -0.0903px;
}
.stl_46 {
	letter-spacing: -0.0296em;
}

.ie .stl_46 {
	letter-spacing: -0.3153px;
}
.stl_47 {
	letter-spacing: -0.0345em;
}

.ie .stl_47 {
	letter-spacing: -0.368px;
}
.stl_48 {
	letter-spacing: -0.032em;
}

.ie .stl_48 {
	letter-spacing: -0.3413px;
}
.stl_49 {
	letter-spacing: -0.0306em;
}

.ie .stl_49 {
	letter-spacing: -0.3264px;
}
.stl_50 {
	letter-spacing: -0.0353em;
}

.ie .stl_50 {
	letter-spacing: -0.3771px;
}
.stl_51 {
	letter-spacing: -0.0788em;
}

.ie .stl_51 {
	letter-spacing: -0.8408px;
}
.stl_52 {
	letter-spacing: -0.0257em;
}

.ie .stl_52 {
	letter-spacing: -0.2738px;
}
.stl_53 {
	letter-spacing: -0.0378em;
}

.ie .stl_53 {
	letter-spacing: -0.4032px;
}
@font-face {
	font-family:"GDQEFM+PingFangSC-Light";
	src:url("605d5f7d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_54 {
	font-size: 0.666667em;
	font-family: "GDQEFM+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GIIKPB+PingFangSC-Light";
	src:url("162e733c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 0.666667em;
	font-family: "GIIKPB+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"VDSKBN+PingFangSC-Light";
	src:url("ee9c135f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_56 {
	font-size: 0.666667em;
	font-family: "VDSKBN+PingFangSC-Light";
	color: #221E1F;
}
@font-face {
	font-family:"EJGBSB+PingFangSC-Light";
	src:url("44cc5db6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_57 {
	font-size: 0.666667em;
	font-family: "EJGBSB+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"ACNDVI+PingFangSC-Light";
	src:url("c0ffb2f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_58 {
	font-size: 0.666667em;
	font-family: "ACNDVI+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"LMRRLL+PingFangSC-Light";
	src:url("14d3124c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_59 {
	font-size: 0.666667em;
	font-family: "LMRRLL+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
.stl_60 {
	letter-spacing: -0.0483em;
}

.ie .stl_60 {
	letter-spacing: -0.5147px;
}
.stl_61 {
	letter-spacing: -0.0518em;
}

.ie .stl_61 {
	letter-spacing: -0.5524px;
}
.stl_62 {
	letter-spacing: -0.0424em;
}

.ie .stl_62 {
	letter-spacing: -0.4522px;
}
.stl_63 {
	letter-spacing: -0.0403em;
}

.ie .stl_63 {
	letter-spacing: -0.4302px;
}
.stl_64 {
	letter-spacing: -0.0385em;
}

.ie .stl_64 {
	letter-spacing: -0.4102px;
}
.stl_65 {
	letter-spacing: -0.0413em;
}

.ie .stl_65 {
	letter-spacing: -0.4402px;
}
.stl_66 {
	letter-spacing: -0.0309em;
}

.ie .stl_66 {
	letter-spacing: -0.3293px;
}
@font-face {
	font-family:"ANPFSV+PingFangSC-Light";
	src:url("e0f4f562-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_67 {
	font-size: 0.666667em;
	font-family: "ANPFSV+PingFangSC-Light";
	color: #221E1F;
}
.stl_68 {
	letter-spacing: -0.0368em;
}

.ie .stl_68 {
	letter-spacing: -0.392px;
}
.stl_69 {
	letter-spacing: -0.0336em;
}

.ie .stl_69 {
	letter-spacing: -0.3588px;
}
.stl_70 {
	letter-spacing: -0.033em;
}

.ie .stl_70 {
	letter-spacing: -0.352px;
}
.stl_71 {
	letter-spacing: -0.0659em;
}

.ie .stl_71 {
	letter-spacing: -0.703px;
}
.stl_72 {
	letter-spacing: -0.0575em;
}

.ie .stl_72 {
	letter-spacing: -0.6131px;
}
.stl_73 {
	letter-spacing: -0.0386em;
}

.ie .stl_73 {
	letter-spacing: -0.412px;
}
.stl_74 {
	letter-spacing: -0.0308em;
}

.ie .stl_74 {
	letter-spacing: -0.3285px;
}
.stl_75 {
	letter-spacing: -0.0318em;
}

.ie .stl_75 {
	letter-spacing: -0.3392px;
}
@font-face {
	font-family:"JKLWFR+PingFangSC-Light";
	src:url("ad19ca0f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_76 {
	font-size: 0.666667em;
	font-family: "JKLWFR+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
.stl_77 {
	letter-spacing: 0.011em;
}

.ie .stl_77 {
	letter-spacing: 0.1467px;
}
@font-face {
	font-family:"DFMFLK+PingFangSC-Light";
	src:url("3d371357-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_78 {
	font-size: 0.666667em;
	font-family: "DFMFLK+PingFangSC-Light";
	color: #221E1F;
}
.stl_79 {
	letter-spacing: -0.0339em;
}

.ie .stl_79 {
	letter-spacing: -0.3611px;
}
.stl_80 {
	letter-spacing: -0.0298em;
}

.ie .stl_80 {
	letter-spacing: -0.3176px;
}
.stl_81 {
	letter-spacing: -0.0293em;
}

.ie .stl_81 {
	letter-spacing: -0.3129px;
}
.stl_82 {
	letter-spacing: -0.0407em;
}

.ie .stl_82 {
	letter-spacing: -0.4341px;
}
.stl_83 {
	letter-spacing: -0.0324em;
}

.ie .stl_83 {
	letter-spacing: -0.3459px;
}
@font-face {
	font-family:"GQDCVR+PingFangSC";
	src:url("a5947ef0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_84 {
	font-size: 0.666667em;
	font-family: "GQDCVR+PingFangSC", "Times New Roman";
	color: #221E1F;
}
.stl_85 {
	letter-spacing: -0.0277em;
}

.ie .stl_85 {
	letter-spacing: -0.2951px;
}
.stl_86 {
	letter-spacing: -0.0374em;
}

.ie .stl_86 {
	letter-spacing: -0.3987px;
}
.stl_87 {
	letter-spacing: -0.0215em;
}

.ie .stl_87 {
	letter-spacing: -0.2293px;
}
.stl_88 {
	letter-spacing: -0.0316em;
}

.ie .stl_88 {
	letter-spacing: -0.3371px;
}
.stl_89 {
	letter-spacing: -0.0354em;
}

.ie .stl_89 {
	letter-spacing: -0.3773px;
}
.stl_90 {
	letter-spacing: -0.0255em;
}

.ie .stl_90 {
	letter-spacing: -0.272px;
}
@font-face {
	font-family:"UHBAGU+PingFangSC-Light";
	src:url("d7c5378b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_91 {
	font-size: 0.666667em;
	font-family: "UHBAGU+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"CWEHUF+PingFangSC";
	src:url("2df68f76-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_92 {
	font-size: 0.666667em;
	font-family: "CWEHUF+PingFangSC", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"WWNOLO+PingFangSC-Light";
	src:url("fcab5b21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_93 {
	font-size: 0.666667em;
	font-family: "WWNOLO+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"POVOMP+PingFangSC-Light";
	src:url("ba2a1a0f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_94 {
	font-size: 0.666667em;
	font-family: "POVOMP+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"LWAKDR+PingFangSC-Light";
	src:url("b23d9faf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_95 {
	font-size: 0.666667em;
	font-family: "LWAKDR+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"EGDCFQ+PingFangSC-Light";
	src:url("0ce7cdd4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_96 {
	font-size: 0.666667em;
	font-family: "EGDCFQ+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"VKSBQP+PingFangSC-Light";
	src:url("3c26ec26-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_97 {
	font-size: 0.666667em;
	font-family: "VKSBQP+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"KWUMHV+PingFangSC-Light";
	src:url("6e19f8ec-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_98 {
	font-size: 0.666667em;
	font-family: "KWUMHV+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"LWHBLQ+PingFangSC-Light";
	src:url("6cc2d22a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_99 {
	font-size: 0.666667em;
	font-family: "LWHBLQ+PingFangSC-Light";
	color: #221E1F;
}
.stl_100 {
	letter-spacing: 0.008em;
}

.ie .stl_100 {
	letter-spacing: 0.1067px;
}
.stl_101 {
	letter-spacing: -0.063em;
}

.ie .stl_101 {
	letter-spacing: -0.672px;
}
@font-face {
	font-family:"BTBJPA+PingFangSC-Light";
	src:url("e6001d6e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_102 {
	font-size: 0.666667em;
	font-family: "BTBJPA+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"PEEVFF+PingFangSC-Light";
	src:url("f9c92f34-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_103 {
	font-size: 0.666667em;
	font-family: "PEEVFF+PingFangSC-Light", "Times New Roman";
	color: #221E1F;
}
.stl_104 {
	letter-spacing: -0.0325em;
}

.ie .stl_104 {
	letter-spacing: -0.3467px;
}
@font-face {
	font-family:"BBTEKB+PingFangSC";
	src:url("9e8a4673-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_105 {
	font-size: 0.666667em;
	font-family: "BBTEKB+PingFangSC";
	color: #221E1F;
}
@font-face {
	font-family:"VJKSTF+Gotham-Light";
	src:url("113bad81-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_106 {
	font-size: 0.666667em;
	font-family: "VJKSTF+Gotham-Light";
	color: #221E1F;
}
.stl_107 {
	line-height: 1.211em;
}
.stl_108 {
	letter-spacing: 0.0101em;
}

.ie .stl_108 {
	letter-spacing: 0.1078px;
}
.stl_109 {
	letter-spacing: -0.0377em;
}

.ie .stl_109 {
	letter-spacing: -0.4027px;
}
.stl_110 {
	letter-spacing: -0.0321em;
}

.ie .stl_110 {
	letter-spacing: -0.3423px;
}
.stl_111 {
	letter-spacing: -0.0253em;
}

.ie .stl_111 {
	letter-spacing: -0.2697px;
}
.stl_112 {
	letter-spacing: -0.0291em;
}

.ie .stl_112 {
	letter-spacing: -0.3105px;
}
.stl_113 {
	letter-spacing: -0.0347em;
}

.ie .stl_113 {
	letter-spacing: -0.3698px;
}
@font-face {
	font-family:"WOTRRA+PingFangSC-Light";
	src:url("5d258169-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_114 {
	font-size: 0.666667em;
	font-family: "WOTRRA+PingFangSC-Light";
	color: #221E1F;
}
.stl_115 {
	letter-spacing: 0em;
}

.ie .stl_115 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"DSVSLG+Gotham-Book";
	src:url("57baddea-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_116 {
	font-size: 0.833333em;
	font-family: "DSVSLG+Gotham-Book", "Times New Roman";
	color: #221E1F;
}
.stl_117 {
	line-height: 1.238em;
}
.stl_118 {
	letter-spacing: -0.061em;
}

.ie .stl_118 {
	letter-spacing: -0.6507px;
}
.stl_119 {
	letter-spacing: -0.059em;
}

.ie .stl_119 {
	letter-spacing: -0.6293px;
}
.stl_120 {
	letter-spacing: -0.0344em;
}

.ie .stl_120 {
	letter-spacing: -0.3673px;
}
.stl_121 {
	letter-spacing: -0.0315em;
}

.ie .stl_121 {
	letter-spacing: -0.336px;
}
.stl_122 {
	letter-spacing: -0.0357em;
}

.ie .stl_122 {
	letter-spacing: -0.3805px;
}
.stl_123 {
	letter-spacing: 0.0058em;
}

.ie .stl_123 {
	letter-spacing: 0.077px;
}
.stl_124 {
	letter-spacing: -0.047em;
}

.ie .stl_124 {
	letter-spacing: -0.5013px;
}
.stl_125 {
	letter-spacing: -0.04em;
}

.ie .stl_125 {
	letter-spacing: -0.4267px;
}
.stl_126 {
	letter-spacing: -0.0297em;
}

.ie .stl_126 {
	letter-spacing: -0.3164px;
}
.stl_127 {
	letter-spacing: 0.007em;
}

.ie .stl_127 {
	letter-spacing: 0.0939px;
}
.stl_128 {
	letter-spacing: 0.0036em;
}

.ie .stl_128 {
	letter-spacing: 0.0475px;
}
.stl_129 {
	letter-spacing: -0.0473em;
}

.ie .stl_129 {
	letter-spacing: -0.5047px;
}
.stl_130 {
	letter-spacing: 0.0166em;
}

.ie .stl_130 {
	letter-spacing: 0.1772px;
}
